<settings>
  <mirrors>
    <mirror>
      <id>nexus</id>
      <name>Nexus Central</name>
      <url>http://10.98.86.30:8081/repository/maven-public/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <servers>
      <server>
          <id>nexus</id>
          <username>jenkins</username>
          <password>jenkins</password>
      </server>
  </servers>
</settings>
